<header class="bg-gray-900 flex content-center justify-center relative">
    <h1 class="js-loader absolute inset-0 text-white text-base">Loading...</h1>
    <button class="btn btn__prev bg-blue-900 border-0 py-2 px-8 block text-lg text-orange-600">Prev</button>
    <input type="text" class="js-input-search bg-gray-800 p-2 outline-none text-teal-400 h-12 border-0" placeholder="Search by name">
    <button class="btn btn__next bg-blue-900 border-0 py-2 px-8 block text-lg text-orange-600">Next</button>
</header>